.App {
  text-align: center;

}
.boxLogo{
  height: 35px;
  border-radius: 5px;

}
.boxLogo img{
  border-radius: 15px;
}
.card{
  width: "18rem";
  height:"40vh";
  border-Radius: "30px";
  cursor: "pointer";
}
.card:hover{
  background-color: aliceblue;
}